html {
    background: linear-gradient(142deg, #04002d, #004a99);
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    text-shadow: 1px 2px #000000;
}

.juegos-grid {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 315px;
    width: 300px;
    margin: auto;
    margin-top: 5%;
    margin-left: 10%;
}

.grid-item {
   display: grid;
   grid-template-columns: 300px;
   grid-template-rows: 150px 150px;
}

.foto {
    height: 170px;
    width: 140px;
    object-fit: cover;
    box-shadow: 0 0 2px black;
    border-radius: 2px;
}

.grid-general {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 400px;
}

#mostrarTotal, #total, #limpiarTotal, #detallesJuegos{
    margin-left: 20%;
}

h2, #detallesJuegos, #total {
    font-family: system-ui;
    color: white;
    text-shadow: 1px 2px black;
}

.precio {
    margin-top: -25px;
}

button {
    background-color: #ffffffb5;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #0067a88f;
    color: black;
    font-family: system-ui;
    font-weight: bold;
}






